@page
@model ForgotPasswordConfirmation
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<a class="text-primary" href="/"><i class="fa fa-home"></i> Login Page</a>