<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a href="#" class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse">
                <i class="bi bi-film"></i>
                <span>Movies</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="movie" asp-action="add" class="">
                        <i class="bi bi-circle"></i>
                        <span>Add New</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="movie" asp-action="index">
                        <i class="bi bi-circle"></i>
                        <span>List All</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link collapsed" data-bs-target="#components-crew" data-bs-toggle="collapse">
                <i class="bi bi-people"></i>
                <span>Crew</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-crew" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Crews" asp-action="create" class="">
                        <i class="bi bi-circle"></i>
                        <span>Add New</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Crews" asp-action="index">
                        <i class="bi bi-circle"></i>
                        <span>List All</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link collapsed" data-bs-target="#components-gear" data-bs-toggle="collapse">
                <i class="bi bi-gear"></i>
                <span>Setting</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-gear" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-controller="Genres" asp-action="Index" class="">
                        <i class="bi bi-circle"></i>
                        <span>Genre</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Profile Page Nav -->
    </ul>

</aside>
<!-- End Sidebar-->
