@{
    ViewData["Title"] = "Home";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<h4>Welcome to Movie Management System.</h4>

