@model MovieManagement.Models.Movie
@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> geners = new();
    geners.Add(new SelectListItem() { Text = "Choose....", Value = "" });
    geners.Add(new SelectListItem() { Text = "Comedy", Value = "Comedy" });
    geners.Add(new SelectListItem() { Text = "Action", Value = "Action" });
    geners.Add(new SelectListItem() { Text = "Si-fi", Value = "Si-fi" });
    geners.Add(new SelectListItem() { Text = "Family Drama", Value = "Family Drama" });
    geners.Add(new SelectListItem() { Text = "Horror", Value = "Horror" });
}
<div class="d-flex justify-content-between mb-2">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a> </li>
            <li class="breadcrumb-item"><a asp-controller="Movie" asp-action="Index">Movie</a></li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>

<div class="row">

    <div class="col-md-6">

        <img src="/img/default.JPG" class="border rounded w-100" style="" />

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link p-0 my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data">
                        <span>Upload Image</span>

                        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>

                        <div class="my-3">
                            <input class="form-control" type="file" id="formFile" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
                            <img id="pic" class="w-100 my-2" />

                        </div>

                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <form asp-action="Edit" method="post" class="row m-0 g-3 p-3 border bg-white shadow-sm">

            <div class="col-md-12">
                <label asp-for="Name" class="form-label"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Genre" class="form-label"></label>
                <select class="form-control" asp-for="Genre" asp-items="geners"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="ReleaseDate" class="form-label"></label>
                <input class="form-control" asp-for="ReleaseDate">
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Length" class="form-label"></label>
                <input class="form-control" asp-for="Length">
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Desc" class="form-label"></label>
                <textarea class="form-control" asp-for="Desc" rows="8"></textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button class="btn btn-success" type="submit" name="submit" value="Update"><i class="fa fa-save"></i> Update</button>
                <button class="btn btn-outline-danger" type="submit" name="submit" value="Delete" onclick="return confirm('Are you sure to Delete?');">Delete</button>
            </div>

            <a asp-action="Index" class="link-primary">Back</a>
        </form>
    </div>
</div>
