@model MovieManagement.Models.Movie

@{
    ViewData["Title"] = "Edit";

    var imageUrl = $"data:image/png;base64,{Convert.ToBase64String(Model.Banner)}";
    var geners = ViewData["GenresItems"] as List<SelectListItem>;
}

<div class="d-flex justify-content-between mb-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a> </li>
        <li class="breadcrumb-item"><a asp-controller="Movie" asp-action="Index">Movie</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
</div>

<div class="row">
    <div class="border bg-white shadow-sm p-4 col-md-6 col-sm-12">
        <form asp-action="Edit" class="row g-3" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Genre" class="control-label"></label>
                <select class="form-control" asp-for="Genre" asp-items="geners"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="LengthInMin" class="control-label"></label>
                <input asp-for="LengthInMin" class="form-control" />
                <span asp-validation-for="LengthInMin" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-12 d-flex justify-content-between">
                <div>
                    <button type="submit" value="Create" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
                <div>
                    <input type="button" value="Delete" class="btn btn-danger" onClick='submitDeleteForm()' />
                </div>
            </div>
        </form>
        <form asp-action="Delete" id="deleteForm" onsubmit="return confirm('Are you sure to Delete?')">
            <input type="hidden" asp-for="Id" />
        </form>
    </div>


    <div class="col-md-6">
        <img src="@imageUrl" class="border rounded w-100" />
        <button type="button" class="btn btn-link py-2 px-0" data-bs-toggle="modal" data-bs-target="#exampleModal"> Change Banner </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="UploadBanner" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Banner</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label asp-for="Banner" class="control-label"></label>
                        <input asp-for="Banner" type="file" class="form-control" oninput="pic.src=window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="Banner" class="text-danger"></span>
                        <img id="pic" class="w-100 mt-3" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function submitDeleteForm() {
        $("#deleteForm").submit();
    }
</script>